<nav>
    <ul class="left">
        <li class="logo">
            <p>bit</p>
        </li>
        <li class="IconSearch">
            <input type="search" name="" id="" placeholder="Search for composants...">
            <img [src]="IconSearch" alt="">
        </li>
    </ul>
    <ul class="right">
        <ul class="list">
            <li>Devlopers</li>
            <li>Platform</li>
            <li>Pricing</li>
            <li>Entreprise</li>
            <li>Login</li>
        </ul>
        <ul class="buttons">
            <button>Learn more</button>
            <button>Get started</button>
        </ul>
    </ul>
</nav>